body {
    background-color: #444444;

    .card {
        background-color: #ffffff;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 1em;
        border-radius: 16px;

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        img {
            width: 250px;
            height: 250px;
            border-radius: 100%;
        }

        div {
            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.5rem;
            }
        }

        button {
            width: 70%;
            padding: 1em 0;
            margin: 1em 0;
            border-radius: 16px;
            border: none;
            background-color: #b56bc6;
            color: white;
            font-weight: 700;


            &:hover {
                background-color: #b4b4b4;
                color: #ffffff;
            }
        }
    }
}